<div class="user-post">
  <div class="friend-info">
    <figure>
      <i class="icofont-learn"></i>
    </figure>
    <div class="friend-name">
      <ins><a title="" href="time-line.html">Amigos Cercanos a ti</a></ins>
      <span><i class="icofont-runner-alt-1"></i>Seguir tus amigos</span>
    </div>
    <ul class="suggested-caro">
      <li>
        <figure><img src="assets/images/resources/speak-1.jpg" alt=""></figure>
        <span>Amy Watson</span>
        <ins>Department of Socilolgy</ins>
        <a href="#" title="" data-ripple=""><i class="icofont-star"></i> seguir</a>
      </li>
      <li>
        <figure><img src="assets/images/resources/speak-2.jpg" alt=""></figure>
        <span>Muhammad Khan</span>
        <ins>Department of Socilolgy</ins>
        <a href="#" title="" data-ripple=""><i class="icofont-star"></i> seguir</a>
      </li>
      <li>
        <figure><img src="assets/images/resources/speak-3.jpg" alt=""></figure>
        <span>Sadia Gill</span>
        <ins>Department of Socilolgy</ins>
        <a href="#" title="" data-ripple=""><i class="icofont-star"></i> seguir</a>
      </li>
    </ul>
  </div>
</div>
