<div class="popup" style="width: 800px;">
  <span class="popup-closed"><i class="icofont-close"></i></span>
  <div class="popup-meta">
    <div class="popup-head">
      <h5> <i class="fa-solid fa-plus"></i> Crear publicacion</h5>
    </div>
    <div class="post-new">
      <div class="post-newmeta">

        <form method="post" class="dropzone" action="/upload-target">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>
      <form method="post" class="c-form">
        <textarea id="emojionearea1" placeholder="En que estas pensando....?"></textarea>
        <div class="activity-post">
          <div class="checkbox">
            <input type="checkbox" id="checkbox" checked>
            <label for="checkbox"><span>Activity Feed</span></label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox2" checked>
            <label for="checkbox2"><span>My Story</span></label>
          </div>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value"><input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked" />
              <p class="select-box__input-text"><i class="icofont-globe-alt"></i> Public</p>
            </div>
            <div class="select-box__value"><input class="select-box__input" type="radio" id="1" value="2" name="Ben" checked="checked" />
              <p class="select-box__input-text"><i class="icofont-lock"></i> Private</p>
            </div>
            <div class="select-box__value"><input class="select-box__input" type="radio" id="2" value="3" name="Ben" checked="checked" />
              <p class="select-box__input-text"><i class="icofont-user"></i> A un amigo</p>
            </div>
            <div class="select-box__value"><input class="select-box__input" type="radio" id="3" value="4" name="Ben" checked="checked" />
              <p class="select-box__input-text"><i class="icofont-star"></i>A todos los amigos</p>
            </div>
            <div class="select-box__value"><input class="select-box__input" type="radio" id="4" value="5" name="Ben" checked="checked" />
              <p class="select-box__input-text"><i class="icofont-users-alt-3"></i> Grupos unidos</p>
            </div>
            <img class="select-box__icon" src="assets/images/arrow-down.svg" alt="Arrow Icon" aria-hidden="true" />
          </div>
          <ul class="select-box__list">
            <li><label class="select-box__option" for="0"><i class="icofont-globe-alt"></i> Publico</label></li>
            <li><label class="select-box__option" for="1"><i class="icofont-lock"></i> Privado</label></li>
            <li><label class="select-box__option" for="2"><i class="icofont-user"></i>A un amigo</label></li>
            <li><label class="select-box__option" for="3"><i class="icofont-star"></i>A todos los amigos</label></li>
            <li><label class="select-box__option" for="4"><i class="icofont-users-alt-3"></i> Grupos unidos</label></li>
          </ul>
        </div>
        <input type="text" placeholder="https://www.youtube.com/watch?v=vgvsuiFlA-Y&t=56s">
        <button type="submit" class="main-btn">Publicar</button>
      </form>
    </div>
  </div>
</div>
