<span class="new-title">Crear nueva publicacion</span>
<div class="new-post">
  <form method="post">
    <i class="icofont-pen-alt-1"></i>
    <input type="text" placeholder="Crear nueva publicacion">
  </form>
  <ul class="upload-media">
    <li>
      <a  title="">
        <i><img src="assets/images/image.png" alt=""></i>
        <span>Photo/Video</span>
      </a>
    </li>
    <li>
      <a  title="">
        <i><img src="assets/images/activity.png" alt=""></i>
        <span>Feeling/Activity</span>
      </a>
    </li>
    <li>
      <a title="">
        <i><img src="assets/images/live-stream.png" alt=""></i>
        <span>Live Stream</span>
      </a>
    </li>
  </ul>
</div>
