<div class="col-lg-8 col-md-6">
  <h4>Sobre mi!</h4>
  <p>
      Hi! My name is Georg Peeter but some people may know
      me as peeter! I have a Twitch channel where I
      stream, play and review all the newest games.
  </p>
  <ul class="badges">
      <h4>Certificaciones!</h4>

      <li>
          <img src="assets/images/badges/badge2.png" alt="" />
      </li>
      <li>
          <img src="assets/images/badges/badge3.png" alt="" />
      </li>
      <li>
          <img src="assets/images/badges/badge4.png" alt="" />
      </li>
      <li>
          <img src="assets/images/badges/badge5.png" alt="" />
      </li>
      <li>
          <img src="assets/images/badges/badge7.png" alt="" />
      </li>
      <li>
          <img src="assets/images/badges/badge8.png" alt="" />
      </li>
  </ul>
</div>
