<div class="story-title">
  <h5>Historias recientes</h5>

</div>
<div class="story-wraper ">
  <img src="assets/images/resources/story-card5.jpg" alt="">
  <div class="users-dp">
    <img src="assets/images/resources/user3.jpg" alt="">
  </div>
  <a class="add-new-stry"  title=""><i class="icofont-plus"></i></a>
  <span>Agregar nueva</span>
</div>
<div class="story-wraper">
  <img src="assets/images/resources/story-card.jpg" alt="">
  <div class="users-dp">
    <img src="assets/images/resources/user6.jpg" alt="">
  </div>
  <span>Tamana Bhatia</span>
</div>
<div class="story-wraper">
  <img src="assets/images/resources/story-card2.jpg" alt="">
  <div class="users-dp">
    <img src="assets/images/resources/user7.jpg" alt="">
  </div>
  <span>Emily Caros</span>
</div>
<div class="story-wraper">
  <img src="assets/images/resources/story-card3.jpg" alt="">
  <div class="users-dp">
    <img src="assets/images/resources/user8.jpg" alt="">
  </div>
  <span>Daniel Cardos</span>
</div>
