<div class="theme-layout gray-bg">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-8">
				<div class="forget-password">
					<figure class="logo"><img src="assets/images/logo.png" alt=""><span>yabaam</span></figure>
					<div class="pass-form">
						<h4>Reenviar contraseña</h4>
            <!-- <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label><i class="icofont-envelope"></i> Correo Electrónico</label>
                <input type="email" formControlName="email" placeholder="Correo electrónico" class="form-control">
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" class="alert alert-danger">
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Por favor, introduce una dirección de correo electrónico válida.</div>
                </div>
              </div>

              <div *ngIf="loading" class="text-center">
                <p>Cargando...</p>
              </div>

              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>

              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>

              <button class="main-btn" type="submit" [disabled]="loading">Reenviar contraseña</button>
            </form> -->

						<span>Volver al Logeo <a routerLink="/auth/login" title="">Ingresar</a></span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
