<div class="gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="page-contents" class="row merged20">
          <!-- sidebar izquierdo -->
          <div class="col-lg-3">
            <aside class="sidebar static left">sidenar izquiero</aside>
          </div>

          <div class="col-lg-6">
            <ul class="filtr-tabs">
              <li><a class="active" href="#" title="">Home</a></li>
              <li><a href="#" title="">Recent</a></li>
              <li><a href="#" title="">Favourit</a></li>
            </ul>
            <!-- tab buttons -->
            <div class="main-wraper">
              <app-create-new-post></app-create-new-post>
            </div>

            <app-recient-stories></app-recient-stories>
            <!-- chat rooms -->
            <div class="main-wraper">
              <app-grupos-chat></app-grupos-chat>
            </div>

            <!-- suggested friends -->

            <div class="main-wraper">
              <app-suggested-list></app-suggested-list>
            </div>

            <div class="main-wraper">
              <app-post-with-audio></app-post-with-audio>
            </div>

            <div class="main-wraper">
              <app-post-list-with-videos></app-post-list-with-videos>
            </div>

            <div class="main-wraper">
              <app-post-list-with-images></app-post-list-with-images>
            </div>

            <div class="loadmore">
              <div class="sp sp-bars"></div>
              <a href="#" title="" data-ripple="">Load More..</a>
            </div>
            <!-- loadmore buttons -->
          </div>

          <!-- sidenar derecho -->
          <div class="col-lg-3">
            <aside class="sidebar static right">sidebar derecho</aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- bottombar -->

<figure class="bottom-mockup"><img src="assets/images/footer.png" alt=""></figure>
<div class="bottombar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="">&copy; copyright All rights reserved by yaabam 2024</span>
      </div>
    </div>
  </div>
</div>
<div class="chat-live">
  <a class="chat-btn" href="#" title="Start Live Chat" data-toggle="tooltip"><i class="icofont-facebook-messenger"></i></a>
  <span>2</span>
</div>






