<div class="main-wraper">
  <span class="new-title">Crear Publicaciones</span>
  <div class="new-post">
      <form method="post">
          <i class="icofont-pen-alt-1"></i>
          <input type="text"
              placeholder="Crear Publicacion" />
      </form>
      <ul class="upload-media">
          <li>
              <a href="#" title="">
                  <i><img src="assets/images/image.png"
                          /></i>
                  <span>Photo/Video</span>
              </a>
          </li>
          <li>
              <a href="#" title="">
                  <i><img src="assets/images/activity.png"
                          /></i>
                  <span>Feeling/Activity</span>
              </a>
          </li>
          <li>
              <a href="live-stream.html" title="">
                  <i><img src="assets/images/live-stream.png"
                          /></i>
                  <span>Live Stream</span>
              </a>
          </li>
      </ul>
  </div>
</div>
