<div class="theme-layout gray-bg">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-8">
				<div class="forget-password">
					<figure class="logo"><img src="assets/images/logo.png" alt=""><span>yabaam</span></figure>
					<div class="pass-form">
						<h4>Cambiar contraseña</h4>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <input type="password" formControlName="password" id="password" class="form-control" placeholder="Nueva Contraseña">
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmar Nueva Contraseña">
                <div *ngIf="resetPasswordForm.errors?.['notSame']" class="alert alert-danger">
                  Las contraseñas no coinciden.
                </div>
              </div>

              <div *ngIf="loading" class="alert alert-info">
                Cargando...
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>

              <button class="btn btn-primary" type="submit" [disabled]="loading">Restablecer Contraseña</button>
            </form>


						<span>Volver a ingresar <a routerLink="/auth/login" title="">Ingresar</a></span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
